### Importing Dataset

In [1]:
import pandas as pd

In [2]:
Train = pd.read_csv("Dataset/COVID-19_twees_train.csv",encoding='latin1')
Test  = pd.read_csv("Dataset/COVID-19_twees_test.csv",encoding='latin1')

In [3]:
Train.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [4]:
Test.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [5]:
Train['Sentiment'].unique()

array(['Neutral', 'Positive', 'Extremely Negative', 'Negative',
       'Extremely Positive'], dtype=object)

### Cropping only two columns

In [6]:
Train_data = Train[["OriginalTweet","Sentiment"]]
Test_data  = Test[["OriginalTweet","Sentiment"]]

In [7]:
Train_data.shape

(41157, 2)

In [8]:
Test_data.shape

(3798, 2)

In [9]:
Train_data = pd.DataFrame(Train_data)
Test_data  = pd.DataFrame(Test_data)

### Saving the Data

In [10]:
Train_data.to_csv('train.csv',index=False)
Test_data.to_csv('test.csv',index=False)